menu "'full' WiFi example"

choice
    prompt "example log level"
    default LOG_LEVEL_EX_INFO
    help
        Select the log level for the example.

    config LOG_LEVEL_EX_NONE
        bool "None"
    config LOG_LEVEL_EX_ERROR
        bool "Error"
    config LOG_LEVEL_EX_WARN
        bool "Warn"
    config LOG_LEVEL_EX_INFO
        bool "Info"
    config LOG_LEVEL_EX_DEBUG
        bool "Debug"
    config LOG_LEVEL_EX_VERBOSE
        bool "Verbose"
endchoice

config LOG_LEVEL_EX
    int
    default 0 if LOG_LEVEL_EX_NONE
    default 1 if LOG_LEVEL_EX_ERROR
    default 2 if LOG_LEVEL_EX_WARN
    default 3 if LOG_LEVEL_EX_INFO
    default 4 if LOG_LEVEL_EX_DEBUG
    default 5 if LOG_LEVEL_EX_VERBOSE
    help
        Internal value for example log level (used in code).
endmenu